<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtty.igood.dao.ProdInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mtty.igood.model.ProdInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="covers" property="covers" jdbcType="VARCHAR" />
    <result column="old_price" property="oldPrice" jdbcType="REAL" />
    <result column="new_price" property="newPrice" jdbcType="REAL" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="productDetail" type="com.mtty.igood.dto.ProductDetail" extends="BaseResultMap">
    <result column="buy_num" property="sellNum" jdbcType="INTEGER"/>
    <result column="brower_num" property="browserNum" jdbcType="INTEGER"/>
    <result column="size_json" property="sizeJson" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, covers, old_price, new_price, detail, inventory,mark,in_time,update_time,type_id
  </sql>

  <select id="queryById" resultMap="productDetail">
    SELECT
        a.*, b.buy_num,b.brower_num,b.size_json
    from
        prod_info a
    LEFT JOIN prod_extend b on a.id = b.pid
    where
        a.id = ${id}
  </select>
  <select id="queryTypeByBrowerNum" resultMap="BaseResultMap">
    select
        b.*
    from
        prod_extend a
    left join prod_info b on a .pid = b. id
    where
        b.type_id = ${typeId}
    order by
        a .brower_num ${orderBy}
    LIMIT ${offset} OFFSET ${start}
  </select>
  <select id="queryByBrowerNum" resultMap="BaseResultMap">
    SELECT
	  b.*
    FROM
        prod_extend A
    LEFT JOIN prod_info b ON A .pid = b. ID
    ORDER BY
        A .brower_num ${orderBy}
    LIMIT ${offset} OFFSET ${start}
  </select>
  <select id="queryByBuyNum" resultMap="BaseResultMap">
    SELECT
      b.*
    FROM
      prod_extend A
    LEFT JOIN prod_info b ON A.pid = b.ID
    ORDER BY
      A.buy_num ${orderBy}
    LIMIT ${offset} OFFSET ${start}
  </select>
  <select id="queryRecommends" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from prod_info
    where mark = 1
    <if test="typeId!=null">
      and type_id = ${typeId}
    </if>
    limit ${offset} offset ${start}
  </select>
  <select id="queryByInTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from prod_info
    order by in_time ${orderBy}
    limit ${offset} offset ${start}
  </select>
  <select id="queryField" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from prod_info
    where name like '%${field}%'
    limit ${offset} offset ${start}
  </select>
  <select id="queryByIds" resultMap="BaseResultMap">
    select * from prod_info where id in (${ids})
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prod_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prod_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtty.igood.model.ProdInfo" >
    insert into prod_info (id, name, covers, 
      old_price, new_price, detail, 
      inventory,mark,in_time,update_time,type_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{covers,jdbcType=VARCHAR}, 
      #{oldPrice,jdbcType=REAL}, #{newPrice,jdbcType=REAL}, #{detail,jdbcType=VARCHAR}, 
      #{inventory,jdbcType=INTEGER}), #{mark,jdbcType=INTEGER}),#{inTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},#{typeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mtty.igood.model.ProdInfo" >
    insert into prod_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="covers != null" >
        covers,
      </if>
      <if test="oldPrice != null" >
        old_price,
      </if>
      <if test="newPrice != null" >
        new_price,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="inTime != null" >
          int_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="covers != null" >
        #{covers,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null" >
        #{oldPrice,jdbcType=REAL},
      </if>
      <if test="newPrice != null" >
        #{newPrice,jdbcType=REAL},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="inTime != null" >
          #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtty.igood.model.ProdInfo" >
    update prod_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="covers != null" >
        covers = #{covers,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null" >
        old_price = #{oldPrice,jdbcType=REAL},
      </if>
      <if test="newPrice != null" >
        new_price = #{newPrice,jdbcType=REAL},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="inTime != null" >
          in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtty.igood.model.ProdInfo" >
    update prod_info
    set name = #{name,jdbcType=VARCHAR},
      covers = #{covers,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=REAL},
      new_price = #{newPrice,jdbcType=REAL},
      detail = #{detail,jdbcType=VARCHAR},
      inventory = #{inventory,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      in_time = #{inTime,jdbcType=TIMESTAMP}
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>